[submodule "modules/agapered_pg"]
	path = modules/agapered_pg
	url = ssh://git@agapered.repositoryhosting.com/agapered/vagrant_puppet_pg.git
[submodule "modules/agapered_git"]
	path = modules/agapered_git
	url = ssh://git@agapered.repositoryhosting.com/agapered/vagrant_puppet_git.git
[submodule "modules/rvm"]
	path = modules/rvm
	url = git://github.com/zmckenzie/puppet-rvm.git
[submodule "modules/agapered_nodocs"]
	path = modules/agapered_nodocs
	url = ssh://git@agapered.repositoryhosting.com/agapered/vagrant_puppet_nodocs.git
