[submodule "modules/agapered_pg"]
	path = modules/agapered_pg
	url = ssh://git@agapered.repositoryhosting.com/agapered/vagrant_puppet_pg.git
[submodule "modules/agapered_git"]
	path = modules/agapered_git
	url = ssh://git@agapered.repositoryhosting.com/agapered/vagrant_puppet_git.git
